
body{
  background-image: url(bg.jpg)!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed!important;
  background-position: top!important;
  background-size: cover!important;
}

.site-name{
  margin-top: 40px;
  font-size: 120px;
  color: white;
  text-shadow: 1px 1px 2px white, 0 0 1em black;
}

.site-text{
  margin-top: 20px;
  font-size: 38px;
  color: white;
}

.site-functions {
  margin-top: 10px;
  font-size: 24px;
  color: white;
}

.site-functions ul{
  margin-left: 160px;
}

.site-functions ul li{
  list-style-type: none;
  margin-top: 10px;
  font-size: 22px;
  color: white;
}

.ok-color{
  color: #0de211;
}

.site-welcome{
  margin-top: 10px;
  font-size: 45px;
  color: white;
  text-shadow: 1px 1px 2px white, 0 0 1em black;
}