{{ form_start(form) }}
<div class="box-body">
    {{ form_row(form.last) }}
    {{ form_row(form.first) }}
    {{ form_row(form.patronymic) }}
</div>
<div class="box-footer">
    {{ form_row(form.save) }}

</div>
{{ form_end(form) }}