<div class="teacher-list table-responsive">
	<table class="table table-bordered table-striped">
		<tr>
			<th>Номер</th>
			<th>Название</th>
			<th>Тип</th>
			<th>Преподаватель</th>
			<th></th>
		</tr>

		{% for subject in subjects %}
			<tr>
				<td><a href="{{ url('subject_form_id', {"id":subject.id }) }}">{{ subject.id  }}</a></td>
				<td>{{ subject.name }}</td>
				<td>{{ subject.typeName }}</td>
				<td>
					{% if subject.teacher is not null %}
						{{ subject.teacher.teacherLabel }}
					{% else %}
						-
					{% endif %}
				</td>
				<td><i class="fa fa-remove text-danger subject-remove" data-id="{{ subject.id }}"></i></td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4" class="text-center">Нет предметов</td>
			</tr>
		{% endfor %}
	</table>
</div>