<div class="box-body">
	<div class="row form-group">
		<div class="col-sm-6 text-right"><strong>Название</strong></div>
		<div class="col-sm-6">{{ subject.name }}</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-6 text-right"><strong>Тип</strong></div>
		<div class="col-sm-6">
			{{ subject.typeName }},
			{% if subject.children is not null %}
				{{ subject.children.typeName }}
			{% endif %}
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-6 text-right"><strong>Преподаватель</strong></div>
		<div class="col-sm-6">{{ subject.teacher.teacherLabel }}</div>
	</div>
	{% if subject.children is not null %}
		<div class="row form-group">
			<div class="col-sm-6 text-right"><strong>Преподаватель практических работ</strong></div>
			<div class="col-sm-6">{{ subject.children.teacher.teacherLabel }}</div>
		</div>
	{% endif %}
</div>
<div class="box-footer">
	<input type="button" class="btn btn-danger pull-right edit-subject" value="Изменить">
</div>
