<table class="table table-bordered table-stripped">
	<tr>
		<td><strong>Название</strong></td>
		<td>{{ subject.name }}</td>
	</tr>
	<tr>
		<td><strong>Преподаватель</strong></td>
		<td>{{ subject.teacher.teacherLabel }}</td>
	</tr>
	<tr>
		<td><strong>Тип</strong></td>
		<td>{{ subject.typeName }}</td>
	</tr>
	<tr>
		<td><strong>Расписание</strong></td>
		<td>
			<div class="teacher-list">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Номер</th>
						<th>День недели</th>
						<th>Номер пары</th>
						<th>Тип недели</th>
					</tr>

					{% for sched in subject.schedule %}
						<tr>
							<td>{{ sched.id  }}</td>
							<td>{{ sched.dowName }}</td>
							<td>{{ sched.number }}</td>
							<td>{{ sched.weekTypeName }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4" class="text-center">Нет в расписании</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</td>
	</tr>



</table>