{{ form_start(form) }}
<div class="box-body">
	{{ form_row(form.name) }}
	{{ form_row(form.type) }}
	{{ form_row(form.teacher) }}
	{{ form_row(form.teacher_labs) }}
</div>
<div class="box-footer">
    {{ form_row(form.save) }}

</div>
{{ form_end(form) }}
