{% extends "base.html.twig" %}

{% block header_content %}
	{{ macros.page_header("Предмет", "") }}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset("bundles/app/js/subject.js") }}"></script>
{% endblock %}

{% block admin_lte_breadcrumb %}
	{% if id is defined %}
		<div id="subject_id" data-id="{{ id }}"></div>
	{% endif %}
	<div class="row">
		<div class="col-sm-4">
			<div class="box box-primary subjectFormBox">
				<div class="box-header with-border">
					<h3 class="box-title">Предмет</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container"></div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="box box-primary scheduleBox">
				<div class="box-header with-border">
					<h3 class="box-title">Расписание</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container">
					<div class="box-body">
					</div>
					<div class="box-footer">
					</div>
				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box box-primary scheduleListBox">
				<div class="box-header with-border">
					<h3 class="box-title">Список пар</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container">
					<div class="box-body">
					</div>
					<div class="box-footer">
					</div>
				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="box box-primary debtFormBox">
				<div class="box-header with-border">
					<h3 class="box-title">Долги</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container">
					<div class="box-body">
					</div>
					<div class="box-footer">
					</div>
				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box box-primary debtListBox">
				<div class="box-header with-border">
					<h3 class="box-title">Открытые долги</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container">

				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box box-primary  closedDebtListBox">
				<div class="box-header with-border">
					<h3 class="box-title">Закрытые долги</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container">

				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>
	</div>


{% endblock %}