{% extends "base.html.twig" %}
{% block header_content %}
	{{ macros.page_header("", "") }}
{% endblock %}
{% block javascripts %}
	<script src="{{ asset("bundles/app/js/teacher.js") }}"></script>
{% endblock %}

{% block admin_lte_breadcrumb %}
	{% if id is defined %}
		<div id="teacher_id" data-id="{{ id }}"></div>
	{% endif %}
	<div class="row">
		<div class="col-sm-4">
			<div class="box box-primary teacherFormBox">
				<div class="box-header with-border">
					<h3 class="box-title">Преподаватель</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container"></div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="box box-primary teacherListBox">
				<div class="box-header with-border">
					<h3 class="box-title">Предметы</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container">
					<div class="box-body">

					</div>
					<div class="box-footer">

					</div>
				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>


			</div>
		</div>
	</div>


{% endblock %}