<div class="teacher-list table-responsive">
	<table class="table table-bordered table-striped">
		<tr>
			<th>Номер</th>
			<th>Фамилия</th>
			<th>Имя</th>
			<th>Отчество</th>
			<th></th>
		</tr>

		{% for teacher in teacherList %}
			<tr>

				<td><a href="{{ url('teacher_form_with_id', {"id": teacher.id}) }}">{{ teacher.id }}</a></td>
				<td>{{ teacher.last }}</td>
				<td>{{ teacher.first }}</td>
				<td>{{ teacher.patronymic }}</td>
				<td><i class="fa fa-remove text-danger teacher-remove" data-id="{{ teacher.id }}"></i></td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">Нет преподавателей</td>
			</tr>
		{% endfor %}
	</table>
</div>