<table class="table table-bordered table-striped">
    <tr>
        <th>Номер</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Расписание</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first }}</td>
            <td>{{ user.last }}</td>
            <td><input type="button" class="btn btn-primary apply-sched" data-id="{{ user.id }}" value="Применить"></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10">
                Нет поделившихся учащихся
            </td>
        </tr>
    {% endfor %}
</table>