{% extends "base.html.twig" %}
{% block header_content %}
    {{ macros.page_header("", "") }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("bundles/app/js/userList.js") }}"></script>
{% endblock %}

{% block admin_lte_breadcrumb %}

    <div class="row">

        <div class="col-sm-5">
            <div class="box box-primary userStatusBox">
                <div class="box-header with-border">
                    <h3 class="box-title">Статус</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div>
                <div class="form-container">
                    <div class="box-body">

                    </div>
                    <div class="box-footer">

                    </div>
                </div>
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="box box-primary userListBox">
                <div class="box-header with-border">
                    <h3 class="box-title">Список поделившихся студентов</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div>
                <div class="form-container">
                    <div class="box-body">

                    </div>
                    <div class="box-footer">

                    </div>
                </div>
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

