<div class="row margin-bottom">
    <div class="col-sm-6">Текущий статус расписания</div>
    <div class="col-sm-6">
        {% if user.shareSched %}
            <span class="text-success">
            <strong>Поделился</strong>
        </span>
        {% else %}
            <span class="text-danger">
            <strong> Не делился</strong>
        </span>
        {% endif %}
    </div>
</div>
<div class="row text-center">
    {% if user.shareSched %}
        <input type="button" class="btn btn-danger share-btn" value="Отменить">
    {% else %}
        <input type="button" class="btn btn-success share-btn" value="Поделиться">
    {% endif %}
</div>

