<div class="box-body table-responsive" style="height: 500px; overflow-y: scroll;">

<table class="table table-bordered table-striped">
	{% for debt in debtList %}
		<tr class="text-center">
			<td colspan="5">
				<strong>{{ debt.typeName }}</strong>
			</td>
		</tr>
		{% for debtValue in debt.values %}
			<tr class="text-center">
				<td>{{ debt.typeName }} {{ loop.index }}</td>
				{% if debt.valueType %}
					<td>
						<select class="DebtValueDropdown form-control">
							{% for i in 0..10 %}
								{% if i == 0 %}
									<option value="{{ i }}" {% if i == debtValue.value %} selected {% endif %}>Нет оценки</option>
								{% else %}
									<option value="{{ i }}" {% if i == debtValue.value %} selected {% endif %}>{{ i }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				{% else %}
					<td>
						<input class="debtValueCheckbox" type="checkbox" {% if debtValue.value %} checked {% endif %}>
					</td>
				{% endif %}
				<td><input type="button" data-id="{{ debtValue.id }}" data-type="{{ debt.valueType }}"
						   class="btn btn-success btnDebtSave" value="Сохранить"></td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">Нет записей</td>
			</tr>
		{% endfor %}
	{% endfor %}
</table>
</div>
<div class="box-footer">
</div>