{{ form_start(form) }}
<div class="box-body">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
</div>
<div class="box-footer">
    {{ form_row(form.save) }}
</div>
{{ form_end(form) }}