<div class="event-list table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th></th>
        </tr>

        {% for event in events %}
            <tr>
                <td><a href="{{ url('event_page_with_id', {"id": event.id }) }}">{{ event.id  }}</a></td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.startDate|date("Y-m-d H:i:s") }}</td>
                <td>{{ event.endDate|date("Y-m-d H:i:s") }}</td>
                <td><i class="fa fa-remove text-danger subject-remove" data-id="{{ event.id }}"></i></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center">Нет событий</td>
            </tr>
        {% endfor %}
    </table>
</div>