{% extends 'SbSAdminLTEBundle:Layout:base.html.twig' %}

{% block admin_lte_logo %}
	<a href="{{ url('homepage') }}" class="logo">
		<span class="logo-mini"><b>S</b>WS</span>
		<span class="logo-lg"><b>Student</b>WST</span>
	</a>
{% endblock %}
{% block corejs %}
	{{ parent() }}
	<script src="{{ asset("components/form/jquery.form.js") }}"></script>
	<script src="{{ asset("components/bootbox/bootbox.js") }}"></script>
	<script src="{{ asset("js/pnotify.js") }}"></script>
	<script src="{{ asset("bundles/app/js/NotificationManager.js") }}"></script>
	<script src="{{ asset("bundles/app/js/main.js") }}"></script>
	<script src="{{ asset("bundles/app/js/formManager.js") }}"></script>
	<script src="{{ asset("bundles/app/js/reloadedFormManager.js") }}"></script>
	<script src="{{ asset("bundles/app/js/TableManager.js") }}"></script>
	<script src="{{ asset('bundles/sbsadminlte/plugins/iCheck/icheck.js') }}"></script>
	<script src="{{ asset('bundles/sbsadminlte/plugins/select2/select2.js') }}"></script>
	<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
	<script src="{{ asset('bundles/sbsadminlte/plugins/morris/morris.js') }}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="{{ asset('components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
	<script src="{{ asset('components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>


{% endblock %}

{% block corestyles %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset("css/pnotify.css") }}">
	<link rel="stylesheet" href="{{ asset("bundles/sbsadminlte/plugins/select2/select2.min.css") }}">
	<link rel="stylesheet" href="{{ asset("bundles/sbsadminlte/plugins/iCheck/square/blue.css") }}">
	<link rel="stylesheet" href="{{ asset("bundles/sbsadminlte/plugins/morris/morris.css") }}">
	<link rel="stylesheet" href="{{ asset("components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css") }}">
	{#<link rel="stylesheet" href="{{ asset("bundles/sbsadminlte/plugins/datatables/dataTables.bootstrap.css") }}">#}

{% endblock %}

{% block admin_lte_sidebar %}
	{% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
		{{ side_bar_menu(app.request) }}
	{% endif %}
{% endblock %}

{% block content %}
	<input type="hidden" value="{{ app.environment }}" id="env">
	{{ parent() }}
{% endblock %}