{% extends 'base.html.twig' %}
{% block corejs %}
	{{ parent() }}
	<script src="{{ asset('bundles/app/js/statistics.js') }}"></script>
{% endblock %}

                    {% block header_content %}
						{#{{ macros.page_header("", "Description of Page") }}#}
					{% endblock %}

{% block admin_lte_breadcrumb %}
	<div class="row">
		<div class="col-sm-4">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Статистика за неделю</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div id="weekContainer"></div>

			</div>
		</div>
		<div class="col-sm-8">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Статистика за месяц</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div id="monthContainer"></div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Итоговый процесс сдачи</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="progress">
						{% set totalProgress = calcTotalProgress() %}
						<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar"
							 aria-valuenow="{{ totalProgress }}" aria-valuemin="0" aria-valuemax="100"
							 style="width: {{ totalProgress }}%">
							<span class="sr-only">{{ totalProgress }}% Complete (success)</span>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Можно сдать сегодня</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="box-body">
					{% for subject in today %}
						{% set success = successCountBySubject(subject) %}
						{% set total = totalCountBySubject(subject) %}
						<div class="col-sm-6">
							<!-- Apply any bg-* class to to the info-box to color it -->
							<a href="{{ url('subject_form_id', {'id': subject.id} ) }}">
								<div class="info-box {{ randomColor() }}">
					<span class="info-box-icon"><i
								class="fao">{{ subject.name|first|upper }}</i></span>
									<div class="info-box-content">
										<span class="info-box-text">{{ subject.name }}</span>
										<span class="info-box-number">{{ success }} из {{ total }}</span>
										<!-- The progress section is optional -->
										<div class="progress">

											{% if total == 0 %}
												{% set percent = 100 %}
											{% else %}
												{% set percent = success * 100 / total %}
											{% endif %}

											<div class="progress-bar" style="width: {{ percent }}%"></div>
										</div>
										<span class="progress-description">{{ percent|number_format(1, '.', ',') }}% сдано</span>
									</div><!-- /.info-box-content -->
								</div><!-- /.info-box -->
							</a>
						</div>
						{% else %}
							<div class="text-center">
								<h5>Нет записей</h5>

							</div>
					{% endfor %}
				</div>

			</div>
		</div>
		<div class="col-sm-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Можно сдать завтра</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="box-body">
					{% for subject in tomorrow %}
						{% set success = successCountBySubject(subject) %}
						{% set total = totalCountBySubject(subject) %}
						<div class="col-sm-6">
							<!-- Apply any bg-* class to to the info-box to color it -->
							<a href="{{ url('subject_form_id', {'id': subject.id} ) }}">
								<div class="info-box {{ randomColor() }}">
					<span class="info-box-icon"><i
								class="fao">{{ subject.name|first|upper }}</i></span>
									<div class="info-box-content">
										<span class="info-box-text">{{ subject.name }}</span>
										<span class="info-box-number">{{ success }} из {{ total }}</span>
										<!-- The progress section is optional -->
										<div class="progress">

											{% if total == 0 %}
												{% set percent = 100 %}
											{% else %}
												{% set percent = success * 100 / total %}
											{% endif %}

											<div class="progress-bar" style="width: {{ percent }}%"></div>
										</div>
										<span class="progress-description">{{ percent|number_format(1, '.', ',') }}% сдано</span>
									</div><!-- /.info-box-content -->
								</div><!-- /.info-box -->
							</a>
						</div>
					{% else %}
						<div class="text-center">
							<h5>Нет записей</h5>

						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Необходимо сдать</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="box-body">
					{% for subject in subjects %}
						{% set success = successCountBySubject(subject) %}
						{% set total = totalCountBySubject(subject) %}
						<div class="col-sm-3">
							<!-- Apply any bg-* class to to the info-box to color it -->
							<a href="{{ url('subject_form_id', {'id': subject.id} ) }}">
								<div class="info-box {{ randomColor() }}">
					<span class="info-box-icon"><i
								class="fao">{{ subject.name|first|upper }}</i></span>
									<div class="info-box-content">
										<span class="info-box-text">{{ subject.name }}</span>
										<span class="info-box-number">{{ success }} из {{ total }}</span>
										<!-- The progress section is optional -->
										<div class="progress">

											{% if total == 0 %}
												{% set percent = 100 %}
											{% else %}
												{% set percent = success * 100 / total %}
											{% endif %}

											<div class="progress-bar" style="width: {{ percent }}%"></div>
										</div>
										<span class="progress-description">{{ percent|number_format(1, '.', ',') }}% сдано</span>
									</div><!-- /.info-box-content -->
								</div><!-- /.info-box -->
							</a>
						</div>
					{% else %}
						<div class="text-center">
							<h5>Нет записей</h5>

						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
{% endblock %}