{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/calendar/css/welcome.css") }}"> <!-- Resource style -->
{% endblock %}

{% block inner_body %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 site-name text-center">
            Student<strong>WST</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 site-text text-center">
            На данном сайте собраны лучшие функции для вашей учёбы
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 site-functions ">
            <ul class="list-unstyled">
                <li><i class="glyphicon glyphicon-ok ok-color"></i>&nbsp;&nbsp; Расписание занятий</li>
                <li><i class="glyphicon glyphicon-ok ok-color"></i>&nbsp;&nbsp; Список преподавателей и предметов</li>
                <li><i class="glyphicon glyphicon-ok ok-color"></i>&nbsp;&nbsp; Отчёты о проделанной работе</li>
                <li><i class="glyphicon glyphicon-ok ok-color"></i>&nbsp;&nbsp; Добавление личных задач</li>
                <li><i class="glyphicon glyphicon-ok ok-color"></i>&nbsp;&nbsp; Ведение личного бюджета</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 site-welcome text-center">
            <strong>Присоединяйся!</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 site-welcome text-center">
            <a href="{{ path('homepage') }}" class="btn btn-success btn-lg">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вперёд!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
        </div>
    </div>
{% endblock %}