{% extends "base.html.twig" %}

{% block header_content %}
	{{ macros.page_header("Регистрация завершена", "") }}
{% endblock %}


{% block admin_lte_breadcrumb %}
<h2>Добро пожаловать!</h2>


{% endblock %}