{% extends 'SbSAdminLTEBundle:Layout:login.html.twig' %}
{% block title %}StudentWST{% endblock %}
{% block page_content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Student</b>WST</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Регистрация для начала работы</p>
            {% if error is defined%}
                <br>
                <div class="text-danger"><strong>{{ error|trans({}, 'FOSUserBundle') }}</strong></div>
                <br>
            {% endif %}

            {{ form_start(form) }}

                {#<input type="hidden" name="_csrf_token" value="{{ form.token }}"/>#}
                {{ form_row(form.username) }}
                {{ form_row(form.first) }}
                {{ form_row(form.last) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.profilePictureFile) }}

                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/sbsadminlte/plugins/iCheck/square/blue.css") }}"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset("bundles/sbsadminlte/plugins/iCheck/icheck.min.js") }}"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}

