{% extends 'base.html.twig' %}
                    {% block header_content %}
						{{ macros.page_header("", "") }}
					{% endblock %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
	{#<link rel="stylesheet" href="{{ asset("bundles/calendar/css/reset.css") }}"> <!-- CSS reset -->#}
	<link rel="stylesheet" href="{{ asset("bundles/calendar/css/style.css") }}"> <!-- Resource style -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset("components/modernizr/modernizr.js") }}"></script>
	<script src="{{ asset("bundles/calendar/js/fontResize.js") }}"></script> <!-- Resource jQuery -->
	<script src="{{ asset("bundles/calendar/js/calendar.js") }}"></script> <!-- Resource jQuery -->
{% endblock %}

{% block title %}
	Расписание
{% endblock %}



{% block admin_lte_breadcrumb %}
	<div class="box box-solid box-primary">
		<div class="box-header">
			<h3 class="box-title">Расписание</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			{{ weekInfo(date()) }}

			<h3>{{ weekType() }}</h3>

			<div class="cd-schedule loading">
				<div class="timeline">
					<ul>
						{% for i in 00..23 %}
							<li><span>{{ '%02d'|format(i) }}:00</span></li>
							<li><span>{{ '%02d'|format(i) }}:30</span></li>
						{% endfor %}

					</ul>
				</div> <!-- .timeline -->

				<div class="events">
					<ul>
						{% for i in 0..6 %}
							<li class="events-group">
								<div class="top-info"><span>{{ i|dayName }}</span></div>
								<ul>
									{% if data[i]is defined %}
										{% for event in data[i] %}
											<li class="single-event" data-start="{{ startEventDate(event) }}"
												data-end="{{ endEventDate(event) }}"
												data-content="event-abs-circuit"
												data-type="0"
												data-id="{{ event.subject.id }}"
												data-event="event-{{ random(3)+1 }}">
													<span class="auditory">{{ event.auditory }}</span>
												<a href="#0">
													<em class="event-name">{{ event.subject.name }}</em>
												</a>
											</li>
										{% endfor %}
									{% endif %}


									{% if userData[i]is defined %}
										{% for event in userData[i] %}
											<li class="single-event" data-start="{{ event.startDate|date("H:i") }}"
												data-end="{{ event.endDate|date("H:i") }}"
												data-content="event-abs-circuit"
												data-type="1"
												data-id="{{ event.id }}"
												data-event="event-{{ random(3)+1 }}">
												<a href="#0">
													<em class="event-name">{{ event.name }}</em>
												</a>
											</li>
										{% endfor %}
									{% endif %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="event-modal">
					<header class="header">
						<div class="content">
							<span class="event-date"></span>
							<h3 class="event-name"></h3>
						</div>

						<div class="header-bg"></div>
					</header>

					<div class="body">
						<div class="event-info">
							<div class="event-info-content">

							</div>
						</div>
						<div class="body-bg"></div>
					</div>

					<a href="#0" class="close">Close</a>
				</div>

				<div class="cover-layer"></div>
			</div> <!-- .cd-schedule -->
		</div><!-- /.box-body -->
	</div>


{% endblock %}