<div class="table-responsive">
<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>Номер</th>
		<th>Название</th>
		<th>Сумма</th>
		<th>Тип</th>
		<th>Описание</th>
		<th>Месяц</th>
		<th>Дата добавления</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	{% for expenditure in expenditures %}
		<tr>
			<td>{{ expenditure.id }}</td>
			<td>{{ expenditure.name }}</td>
			<td>{{ expenditure.sum }}</td>
			<td>{{ expenditure.typeName }}</td>
			<td>{{ expenditure.description }}</td>
			<td>{{ expenditure.monthName }}</td>
			<td>{% if expenditure.dateAdded %}{{ expenditure.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
			<td><i class="fa fa-remove text-danger exp-remove" data-id="{{ expenditure.id }}"></i></td>
		</tr>
	{% else %}
		<tr class="text-center">
			<td colspan="7">Нет записей</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>