<script type="text/javascript">
	//	$(function () {
	//		$('input').iCheck({
	//			checkboxClass: 'icheckbox_square-blue',
	//			radioClass: 'iradio_square-blue',
	//			increaseArea: '20%' // optional
	//		});
	//	});

</script>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Название</th>
			<th>Сумма</th>
			<th>Тип</th>
			<th>Описание</th>
			<th>Месяц</th>
			<th>Дата добавления</th>
			<th>Оплатить</th>
			<th>Удалить</th>
		</tr>
		</thead>
		<tbody>
		{% for expenditure in expenditures %}
			<tr {% if expenditure.closed %} class="bg-info text-white" {% endif %}>
				<td>{{ expenditure.name }}</td>
				<td>{{ expenditure.sum }}</td>
				<td>{{ expenditure.typeName }}</td>
				<td>{{ expenditure.description }}</td>
				<td>{{ expenditure.monthName }}</td>
				<td>{% if expenditure.dateAdded %}{{ expenditure.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
				<td>
					<input type="checkbox" class="custom-checkbox paid" {% if expenditure.closed %} checked {% endif %}
						   data-id="{{ expenditure.id }}" value="on">
				</td>
				<td><i class="fa fa-remove text-danger exp-remove" data-id="{{ expenditure.id }}"></i></td>
			</tr>
		{% else %}
			<tr class="text-center">
				<td colspan="7">Нет записей</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>