{% extends "base.html.twig" %}

{% block header_content %}
	{{ macros.page_header("Расходы", "") }}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset("bundles/app/js/expenditure.js") }}"></script>
{% endblock %}

{% block admin_lte_breadcrumb %}
	{% if id is defined %}
		<div id="budget_id" data-id="{{ id }}"></div>
	{% endif %}
	<div class="row">
		<div class="col-sm-4">
			<div class="box box-primary expFormBox">
				<div class="box-header with-border">
					<h3 class="box-title">Расходы</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="form-container"></div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>

		<div class="col-sm-8">
			<div class="box box-primary expListBox">
				<div class="box-header with-border">
					<h3 class="box-title">Информация по месяцам</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="box-body">
				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>

	</div>


{% endblock %}