{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expenditure</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expenditure.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ expenditure.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ expenditure.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ expenditure.description }}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{ expenditure.month }}</td>
            </tr>
            <tr>
                <th>Dateadded</th>
                <td>{% if expenditure.dateAdded %}{{ expenditure.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expenditure_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('expenditure_edit', { 'id': expenditure.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
