<div class="box-body">
	{{ form_start(form) }}
	{{ form_label(form.dow) }}
	<div class="form-group" >
		<div class="btn-group" data-toggle="buttons" id="{{ form.dow.vars.id }}">
			{% for child in form.dow %}
				{#{{ dump(child.vars) }}#}
				<label class="btn btn-xs btn-primary">
					{% block form_widget_simple %}
					<input type="radio"
						   value="{{ child.vars.value }}"  name="{{ child.vars.full_name }}"  {% if child.vars.checked == true %}checked="checked"{% endif %}>
					{{ child.vars.label }}
					{% endblock form_widget_simple %}
				</label>
			{% endfor %}
		</div>
	</div>
	{{ form_label(form.number) }}
	<div class="form-group">
		<div class="btn-group" data-toggle="buttons">
			{% for child in form.number %}
				<label class="btn btn-sm btn-success">
					<input type="radio"
						   value="{{ loop.index }}" name="{{ child.vars.full_name }}"  {% if child.vars.checked == true %}checked="checked"{% endif %}>
					{{ child.vars.label }}
				</label>
			{% endfor %}
		</div>
	</div>
	{{ form_label(form.weekTypeForm) }}
	<div class="form-group">
		<div class="btn-group" data-toggle="buttons">
			{% for child in form.weekTypeForm %}
				<label class="btn btn-sm btn-danger">
					<input type="checkbox"
						   value="{{ child.vars.value }}" name="{{ child.vars.full_name }}"  {% if child.vars.checked == true %}checked="checked"{% endif %}>
					{{ child.vars.label }}
				</label>
			{% endfor %}
		</div>
	</div>
	<div class="form-group">
		{{ form_row(form.auditory) }}
	</div>
	{% do form.dow.setRendered %}
	{% do form.number.setRendered %}
	{% do form.weekTypeForm.setRendered %}
	{{ form_end(form) }}
</div>
<div class="box-footer">
	{{ form_row(form.save) }}

</div>
