<div class="teacher-list">
	<table class="table table-bordered table-striped">
		<tr>
			<th>День недели</th>
			<th>Номер пары</th>
			<th>Тип недели</th>
			<th>Аудитория</th>
		</tr>

		{% for schedule in schedules %}
			<tr>
				<td>{{ schedule.dowName }}</td>
				<td>{{ schedule.number }}</td>
				<td>{{ schedule.weekTypeName }}</td>
				<td>{{ schedule.auditory }}</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5" class="text-center">Нет в расписании</td>
			</tr>
		{% endfor %}
	</table>
</div>