{% extends 'SbSAdminLTEBundle:Layout:login.html.twig' %}
{% block title %}StudentWST{% endblock %}
{% block page_content %}
	<div class="login-box">
		<div class="login-logo">
			<a href="#"><b>Student</b>WST</a>
		</div>
		<div class="login-box-body">
			<p class="login-box-msg">Войдите для начала работы</p>
			{% if error %}
				<br>
				<div class="text-danger"><strong>{{ error|trans({}, 'FOSUserBundle') }}</strong></div>
				<br>
			{% endif %}
			<form action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

				<div class="form-group has-feedback">
					<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
					<input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
						   class="form-control"/>
				</div>

				<div class="form-group has-feedback">
					<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
					<input type="password" id="password" name="_password" required="required" class="form-control"/>
				</div>


				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
							<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
						</div>
					</div>
					<div class="col-xs-4">
						<input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat"
							   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
					</div>
				</div>
			</form>

			{#<a href="#">Я забыл свой пароль</a><br>#}
			<a href="{{ url('fos_user_registration_register') }}" class="text-center">Регистрация</a>

		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("bundles/sbsadminlte/plugins/iCheck/square/blue.css") }}"/>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset("bundles/sbsadminlte/plugins/iCheck/icheck.min.js") }}"></script>
	<script>
		$(function () {
			$('input').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				radioClass: 'iradio_square-blue',
				increaseArea: '20%' // optional
			});
		});
	</script>
{% endblock %}
