<div class="table-responsive">
	<table class="table table-bordered  table-striped ">
		<thead>
		<tr>
			<th>Номер</th>
			<th>Название</th>
			<th>Месяц</th>
			<th>Сумма</th>
			<th>Дата добавления</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for budget in budgets %}
			<tr>
				<td>{{ budget.id }}</td>
				<td>{{ budget.name }}</td>
				<td>{{ budget.monthName }}</td>
				<td>{{ budget.sum }} руб</td>
				<td>{% if budget.dateAdded %}{{ budget.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
				<td><i class="fa fa-remove text-danger budget-remove" data-id="{{ budget.id }}"></i></td>
			</tr>
		{% else %}
			<tr class="text-center">
				<td colspan="5">Нет записей</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>