{% extends "base.html.twig" %}

{% block header_content %}
	{{ macros.page_header("Бюджет", "") }}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset("bundles/app/js/budgetStat.js") }}"></script>
{% endblock %}


{% block admin_lte_breadcrumb %}
	<input type="hidden" id="monthId" value="{{ month }}">

	<div class="row margin-bottom">
		<div class="col-sm-2 ">
			<input type="button" class="btn btn-primary prev-month" data-month="{{ month - 1}}" value="Предыдущий">
		</div>
		<div class="col-sm-8">
			<div class="text-center currentMonthName" style="font-size: 50px; color: #3c8dbc; font-weight: bold; background-color: white;">{{ monthName(month) }}</div>
		</div>
		<div class=" col-sm-2 text-right">
			<input type="button" class="btn btn-primary next-month" data-month="{{ month + 1 }}" value="Следующий">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<div class="info-box">
				<span class="info-box-icon bg-blue">Руб</span>

				<div class="info-box-content">
					<span class="info-box-text">Доступный бюджет</span>
					<span class="info-box-number currentBudget" style="font-size: 30px;"></span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Доходы за месяц</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div id="budgetContainer"></div>

			</div>
		</div>
		<div class="col-sm-3">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Расходы за месяц</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div id="expContainer"></div>

			</div>
		</div>
		<div class="col-sm-3">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Расходы</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div id="expRatioContainer"></div>

			</div>
		</div>
		<div class="col-sm-3">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Соотношение</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div id="ratioContainer"></div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Остаток</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div id="balanceContainer" class="box-body">
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar"
							 aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
							40%
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="box box-primary budgetListBox">
				<div class="box-header with-border">
					<h3 class="box-title">Доходы за месяц</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="box-body">
				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="box box-primary expListBox">
				<div class="box-header with-border">
					<h3 class="box-title">Расходы за месяц</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div><!-- /.box-tools -->
				</div>
				<div class="box-body">
				</div>
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>
	</div>



{% endblock %}