{{ form_start(form) }}
<div class="box-body">
    {{ form_row(form.name) }}
    {{ form_row(form.sum) }}
    {{ form_row(form.month) }}
</div>
<div class="box-footer">
    {{ form_row(form.save) }}
</div>
{{ form_end(form) }}