{% extends 'base.html.twig' %}

{% block body %}
    <h1>Budget</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ budget.id }}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{ budget.month }}</td>
            </tr>
            <tr>
                <th>Sum</th>
                <td>{{ budget.sum }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('budget_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('budget_edit', { 'id': budget.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
